@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&family=Ubuntu&display=swap');

body {
    background-color: antiquewhite;
    font-family: 'Sofia Sans', sans-serif;
    -webkit-box-sizing: content-box;
}

.container {
    margin: 0 auto;
    padding-top: 50px;
}

.important {
    font-weight: bold;
    color:rgb(40, 49, 144);
}

.todo-list {
    max-width: 400px;
    display: block;
    margin: 0 auto 40px;
    background-color:rgb(196, 121, 146);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 #665669;
    -webkit-box-shadow:  0 2px 10px 0 #665669;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color:aliceblue;
    font-size: 30px;
}

.new_todo {
text-align: center;
}

input[type=text] {
    width: 290px;
    padding: 10px;
    border: solid 1px grey;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px grey;
    cursor: pointer;
    color:aliceblue;
    background-color:#966db6;
}

.todo {
    padding-left: 0;     
}
.todo li {
    padding: 1em;
    list-style-type: none;
}
.todo li:not(:last-child) {
    border-bottom: 1px solid grey;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

input[type=checkbox], label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

input[type=checkbox] + label:before {
    content: '';
    background: rgb(196, 121, 146);
    border: 2px solid rgb(255, 254, 254);
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

input[type=checkbox]:checked + label:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 6px;
    border: solid yellow;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg);
    border-radius: 0;
    margin: 0 15px 5px 5px;
}
